---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="bienbenido a mmi proyecto.">
	hola mundo 
	<div class ="text-red-500"> Cruel </div>

	<div id="btn" class ="bg-pink-200 p-3 inline-block">
		Presioname!
	</div>

	<div class="embla">
		<div class="embla__viewport">
		<div class="embla__container">
		  <div class="embla__slide bg-yellow-200", bg-yellow-200>Slide 1</div>
		  <div class="embla__slide bg-purple-200">Slide 2</div>
		  <div class="embla__slide bg-green-200", "bg-green-200">Slide 3</div>
		</div>
	    </div>
	<button class="embla__prev">Prev</button>
	<button class="embla__next">Next</button>
	</div>
</Layout>

<style>
	.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
</style>

<script>
	import JSConfetti from 'js-confetti'
	import EmblaCarousel from 'embla-carousel'
	const rootNode = document.querySelector('.embla')
    const viewportNode = rootNode.querySelector('.embla__viewport')

    const prevButtonNode = rootNode.querySelector('.embla__prev')
    const nextButtonNode = rootNode.querySelector('.embla__next')

	const jsConfetti = new JSConfetti()


	const options = { loop: false }
	const embla = EmblaCarousel(viewportNode, options)

	prevButtonNode.addEventListener('click', embla.scrollPrev, false)
    nextButtonNode.addEventListener('click', embla.scrollNext, false)

	const btn = document.getElementById("btn")

	btn.addEventListener("click", function(e){
		const elm = e.target
		//elm.target.classList.remove("bg-blue-200")
		//elm.target.classList.add("bg-red-500")
		elm.classList.replace("bg-pink-200","bg-purple-400")
		elm.innerText = "Ouch!"

		const myDiv = document.createElement("div")
		myDiv.innerText = "SOY UN DIV CREADO CON JS"
		myDiv.classList.add("bg-purple-200", "text-white")

		myDiv.addEventListener("click", (e) => {
			e.target.remove()
			console.log("Harakiri", e.target)
		})

		document.body.appendChild(myDiv)

		//console.log("Aca estoy en la consola", e.target.classList)
		
		jsConfetti.addConfetti({
   emojis: ['🌈',  '✨', '🌸'],
   })

		jsConfetti.addConfetti()
	})
	
</script>

